@import "monokai_sublime.css";
.app,
.grid {
    //position: fixed;
    // top: 4em;
    // left: 0;
    // bottom: 0;
    // right: 0;
    height: 100%;
}

body {
    background-color: #FFFFFF;
}

.ui.menu .item img.logo {
    margin-right: 1.5em;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}

.app-content {
    padding-top: 4em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 4em;
}

.container-content {
    //padding-top: 60px;
    height: 100%;
}

p {
    text-indent: 20px;
    /* Отступ первой строки в пикселах */
}

.not-active {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}

